<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="LittleTransu.styles.css" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body class="mainz">
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/site.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
