@page "/"

<PageTitle>Home</PageTitle>

<section>
    <div class="container-fluid home-section" id="home">
        <div class="container home-content">
            <div class="row">
                <div class="col-md-7 home-header">
                    <h1 style="padding-bottom: 15px;" class="heading">
                        Hello There!
                        <span class="wave" role="img" aria-labelledby="wave">🤗</span>
                    </h1>
                    <h1 class="heading-name">
                        I'm
                        <strong class="main-name"> Musigah Stallone</strong>
                    </h1>
                    <div style="padding: 50px; text-align: left;">
                        <!-- Assuming `Type` is a component or content that will be rendered here -->
                        <!-- If `Type` is a React component, it needs to be converted to HTML as well -->
                    </div>
                </div>
                <div class="col-md-5" style="padding-bottom: 20px;">
                    <img src="https://images.pexels.com/photos/9070107/pexels-photo-9070107.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load" alt="home pic" class="img-fluid home-pic" style="max-height: 450px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Assuming `Home2` is another component -->
</section>


<section class="container-fluid home-about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 home-about-description">
                <h1 style="font-size: 1.6em;">
                    LET ME <span class="cyan-color"> INTRODUCE </span> MYSELF
                </h1>
                <p class="home-about-body">
                    <span class="cyan-color">Hey there! 👋 ,,, </span>
                    <br />
                    <br />
                    I'm a fervent developer on a quest to transform <span class="cyan-color">concepts</span> into remarkable <span class="cyan-color">software ventures.</span>
                    <br />
                    <br />
                    Armed with the robust <span class="cyan-color">.NET framework</span> and the enchanting <span class="cyan-color">prowess of C#,</span>
                    I meticulously craft captivating and utilitarian applications that deeply engage users.
                    My forte lies in languages like <span class="cyan-color">C#, SQL,</span> and my growing proficiency in <span class="cyan-color">Python.</span>
                    <br />
                    <br />
                    My passion extends to crafting <span class="cyan-color">immersive experiences</span> across various platforms,
                    from <span class="cyan-color">dynamic websites</span> to sleek <span class="cyan-color">iOS and Android mobile applications. </span>
                    <br />
                    <br />
                    Delving further, I've ventured into the realm of <span class="cyan-color">desktop applications,</span> harnessing the power of the <span class="cyan-color">.NET Framework</span> to bring ideas to <span class="cyan-color">life. </span>
                    Always eager to explore <span class="cyan-color">new horizons,</span> I've dabbled in <span class="cyan-color">React, NextJs,</span> and even delved into <span class="cyan-color">Django frameworks,</span> enriching my skill set along the way.
                    <br />
                    <br />
                    In the sphere of <span class="cyan-color">Web development,</span> I've seamlessly integrated <span class="cyan-color">Artificial Intelligence (AI)</span> and <span class="cyan-color">Machine Learning </span>into my projects,
                    striving to push boundaries and enhance user experiences.
                    <br />
                    <br />
                    <span class="cyan-color">Notably,</span> I've had the privilege of interacting with cutting-edge <span class="cyan-color">Google AI models</span> called <span class="cyan-color">Gemini </span>
                    further fueling my <span class="cyan-color">curiosity and innovation.</span>
                    <br />
                    <br />
                    Whenever an <span class="cyan-color">opportunity arises,</span> I channel my enthusiasm for <span class="cyan-color">Software Development</span>
                    through modern JavaScript libraries  and frameworks such as
                    <span class="cyan-color"> React.js, Next.Js,</span> and <span class="cyan-color"> React Native,</span> enriching my toolkit and ensuring that every project
                    I undertake is a <span class="cyan-color">testament to innovation and excellence.</span>
                </p>
            </div>
            <div class="col-md-5 myAvtar">
                <div data-tilt="">
                    <img src="https://images.pexels.com/photos/5477855/pexels-photo-5477855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="avatar">
                </div>
            </div>
        </div>
        <div>
            <div class="home-about-social">
                <h1>FIND ME ON</h1>
                <p>
                    Feel free to <span class="cyan-color"> connect </span>with me
                </p>
                <div class="row">
                    <ul class="home-about-social-links">
                        <li class="social-icons col">
                            <a href="https://github.com" target="_blank" rel="noreferrer" class="icon-colour home-social-icons">
                                <!-- Icon component or SVG for AiFillGithub -->
                            </a>
                        </li>
                        <li class="social-icons col">
                            <a href="https://www.linkedin.com/in/stallone-odhiambo-2b2644224/" target="_blank" rel="noreferrer" class="icon-colour home-social-icons">
                                <!-- Icon component or SVG for FaLinkedinIn -->
                            </a>
                        </li>
                        <li class="social-icons col">
                            <a href="https://www.x.com/musigahstallone" target="_blank" rel="noreferrer" class="icon-colour home-social-icons">
                                <!-- Icon component or SVG for FaTwitter -->
                            </a>
                        </li>
                        <li class="social-icons col">
                            <a href="https://www.instagram.com/am_stallone" target="_blank" rel="noreferrer" class="icon-colour home-social-icons">
                                <!-- Icon component or SVG for FaInstagram -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
